* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2em;
  color: #fff;
  background-color: #272e34;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=radio] {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 60%;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 1em;
}

.slider-content {
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
}

.slider-item {
  width: 100%;
  height: 100%;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0;

}

.overflow {
  width: 100%;
  overflow: hidden;
}

.slider-labels {
  display: flex;
  flex-flow: row nowrap;
  width: 400%;
  color: #fff;
}

.slider-label {
  width: 100%;
}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

/* Bullets */

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em;
  height: 1.6em;
  padding: 0.4em;
  background-color: transparent;
  cursor: pointer;
}

.bullet-item {
  display: block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.8em;
  background-color: #465562;
}

/* Animation slides */

#slide1:checked ~ #slider .slider-content {
  margin-left: 0;
}
#slide2:checked ~ #slider .slider-content {
  margin-left: -100%;
}
#slide3:checked ~ #slider .slider-content {
  margin-left: -200%;
}
#slide4:checked ~ #slider .slider-content {
  margin-left: -300%;
}
#slider .slider-content {
  transition: margin-left 800ms cubic-bezier(0.540, 0.000, 0.185, 1.000);
}